.main-container {
    height: 100vh;

}

.navbar {
    width: 100%;
    padding: 15px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c8c8c8;
    align-items: center;
}

.navbar-heading {
    display: flex;
    gap: 5px;

}

.developer-name {
    color: #5890FF;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.4s ease;
}

.developer-name:hover {
    transform: scale(1.1);
    color: #767676;
}

.github-code-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.github-link-text {
    color: #767676;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.github-link-text:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.custom-icon {
    color: #000000;
    font-size: 22px;
}

.icons-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icons-container .custom-icon {
    color: #000000;
    cursor: pointer;
    transition: all 0.4s ease;
}

.icons-container .custom-icon:hover {
    color: #767676;
}

.active-icon {
    color: #5890FF !important;
    transform: scale(1.3);
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.content-container {
    display: flex;
    height: calc(100vh - 61px);
    padding: 10px 60px;
    box-sizing: border-box;
}

.left-content-container {
    width: 30%;
    border: 1px solid #c8c8c8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-content-container {
    background-color: red;
    flex: 1;
    border: 1px solid #c8c8c8;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


p {
    color: red;
    margin: 0;
    line-height: 24px;
}

h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* in mobile view left chat part is not showing */
@media only screen and (max-width:480px) {
    .left-content-container {
        display: none;
    }

    .navbar {
        padding: 15px 10px;
    }

    .content-container {
        padding: 10px;
    }

    .developer-name {
        color: green;
        display: none;
    }

}