.main-container {
    background-color: yellow;
    height: 100vh;

}

.navbar {
    background-color: orange;
    width: 100%;
    padding: 15px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128);
}

.navbar-heading {
    background-color: Red;
    display: flex;
    align-items: center;
    gap: 5px;

}

.icons-container {
    background-color: pink;
    display: flex;
    gap: 5px;
    align-items: center;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.content-container {
    background-color: pink;
    display: flex;
    height: calc(100vh - 61px);
    padding: 10px 60px;
    box-sizing: border-box;
}

.left-content-container {
    background-color: green;
    width: 30%;
    border: 1px solid rgba(128, 128, 128);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-content-container {
    background-color: red;
    flex: 1;
    border: 1px solid rgba(128, 128, 128);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


p {
    color: red;
    margin: 0;
    line-height: 24px;
}

h4,
h5 {
    margin: 0;
}


/* in mobile view left chat part is not showing */
@media only screen and (max-width:480px) {
    .left-content-container {
        display: none;
    }

    .navbar {
        padding: 15px 10px;
    }

    .content-container {
        padding: 10px;
    }

    .developer-name {
        color: green;
        display: none;
    }

}