.chat-list-heading {
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #c8c8c8;
}

.chat-heading-text {
    text-align: center;
}

.chat-heading-icon {
    color: #000000;
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 22px;

}

.chat-row {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.chat-list-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.username-and-message-container {
    width: calc(100% - 50px - 10px);
}

.username-text {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-preview-message {
    display: flex;
    width: 100%;
    align-items: center;

}

.chat-preview-message-text {
    color: #767676;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-preview-time-container {
    display: flex;
}

.dot-container {
    width: 10px;
    position: relative;

}

.dot-container .dot {
    color: #767676;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    left: 3px;

}

.message-sent-time-text {
    font-size: 12px;
    color: #767676;
}

.active-chat-row {
    background-color: #e3e3e3;
}

.chat-row:hover {
    background-color: #f1f1f1;
}

@media only screen and (max-width:480px) {
    .chat-list-heading {
        display: none;
    }
}