.top-section {
    background-color: yellow;
    height: 85%;
    position: relative;
}

.message-screen-heading {
    border-bottom: 1px solid #c8c8c8;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    height: 49px;
}

.user-info-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 7px;
    left: 30px;
}

.call-and-video-icons-div {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 12px;
    right: 30px;

}

.call-and-video-icons-div .custom-icon {
    font-size: 22px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.call-and-video-icons-div .custom-icon:hover {
    color: #fe019a;
    transform: scale(1.2);
}

.chats-screen-container {
    background-color: blue;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1;
}

.chats-screen-container::-webkit-scrollbar {
    background-color: #ffffff;
    width: 8px;
}

.chats-screen-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

.message-chat-row {
    background-color: red;
}

.left-align-message {
    background-color: green;
    display: flex;
    justify-content: flex-start;
}

.right-align-message {
    background-color: orange;
    display: flex;
    justify-content: flex-end;
}

.message-chat-row .message-text {
    background-color: yellow;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
}

.left-align-message .message-text {
    background-color: #e3e3e3;
}

.right-align-message .message-text {
    background-color: #fe019a;
    color: #ffffff;
}

.bottom-section {
    padding: 10px 20px 0px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.message-icons-container {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.message-input-container {
    display: flex;
    gap: 10px;
    flex: 1;
}

.bottom-section textarea {
    resize: none;
    height: 32px;
    max-height: 65px;
    outline: none;
    padding: 5px 10px;
    flex: 1;
    box-sizing: border-box;
    border-radius: 20px;
}

.bottom-section textarea::-webkit-scrollbar {
    display: none;
}

textarea::placeholder {
    color: #767676;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.send-button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    padding: 1px 10px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.send-button:hover {
    background-color: #fe019a;
}

.message-icons-container .custom-icon {
    cursor: pointer;
    transition: all 0.4s ease;
}

.message-icons-container .custom-icon:hover {
    color: #767676;
    transform: scale(1.2);
}